.button{
    text-align: center;  
        margin:0 auto;                           
}
.product
{
align-items: center;   

justify-content:center ;

color:  blue;
padding: 5px;

}


.navbars {
  position: relative;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 5px solid black; /* Border style, width, and color */
  border-radius: 25px; /* Rounded corners (optional) */
  padding: 10px 20px;
  /* Other styles */
}

.logo{
width: 125px; /* Set the desired width for your logo */
  height: auto; /* Maintain the aspect ratio */
}

.nav-links {
list-style: none;
display: flex;
gap: 20px; /* Adjust the gap between links */
}

.nav-links li a {
text-decoration: none;
color: black /* Customize link color */
}

.user-actions  {
text-decoration: none;
color: black; /* Customize link color */
margin-left: 20px; /* Adjust the spacing between user actions */
font-size: 15px;
color: blue;


}

footer {
background-color: cyan; /* Background color for the footer */
color: black; /* Text color */
padding: 1px 0; /* Padding for content inside the footer */
text-align: center; /* Center-align the content */
bottom: 0;
width:100%;
position: fixed;
}

.footer-content {
max-width: 500px; /* Set a maximum width for the content */
margin: 0 auto; /* Center-align the content horizontally */

}

.footer-content p {
margin: 0; /* Remove default margin for the paragraph */
}

.footer-content ul {
list-style-type: none; /* Remove bullet points from the list */
padding: 0;
}

.footer-content ul li {
display: inline; /* Display list items inline */
margin-right: 20px; /* Add spacing between list items */
}

.footer-content ul li:last-child {
margin-right: 0; /* Remove margin from the last list item */
}

.footer-content a {
text-decoration: none; /* Remove underlines from links */
color: black /* Link text color */
}

.footer-content a:hover {
text-decoration: underline; /* Add underline on hover (optional) */
}
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
    .gradient-form
    {
    
            background-color: #fff;
            padding: 20px;
            
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            text-align: center;
    }
    .form
    {
         flex:1;
         margin-bottom: auto
    ;
         
         margin-right: 400px;
            background-color: #fff;
            padding: 20px;
            border-radius: 50px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            text-align: center;
            width:500px;
            flex-direction: column;
            
}
.container {
   justify-content: center;
    position: absolute;
    display: flex;
    height: 25vh;
    margin-left: 250px;
    align-items: center;
}

    .gradient-custom
    {
        background-color:red;
        color:white;
            padding: 20px;
            border-radius: 50px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            text-align: center;
            width:500px;
            flex-direction: column;
    width:50px;
    height:10vh
    }
    .fields{
        margin-bottom: 50px;
       
    }
    .head
    {
        font-size: 50px;
        color:solid black;
    }
    .profile-icon {
        position: relative;
      }
      
      .profile-picture {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
      }
      
      .profileImage {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #512DA8;
        font-size: 25px;
        color: #fff;
       
        line-height: 150px;
        margin: 20px 0;
      }
      .modal-content {
        border: 1px solid #000; /* You can change the color and size as needed */
        padding: 5px; /* Add some padding for spacing inside the modal */
      margin: 0 auto;
       margin-left: 800px;;
        width:600px;
      }
      
      .card {
        width: 300px; /* Adjust the width as needed */
        margin: 10px;
        border: 1px solid #ccc;
        border-radius: 15px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        display: inline-block;
       
      }
      /* Cart.css */

/* Style the cart item container */
.cart {
  display: flex; /* Use flexbox to horizontally align the image and details */
  align-items: center; /* Center items vertically */
  margin-bottom: 20px; 
  padding:250px
}

/* Style the image */
.cart-item-image {
  /* Make the image take up one-third of the available space */
             
  height: 280px;
  width:450px;/* Add padding for spacing */
  margin-left: 50px;
}

/* Style the details container */
.cart-item-details {
  flex: 2; /* Make the details take up two-thirds of the available space * /* Add padding for spacing */
  display: flex; /* Use flexbox for horizontal layout of details */
  flex-direction: column; /* Stack details vertically within the details container */
  margin-left:300px;
  
}

/* Additional styling for individual details like product name, price, and description */
.cart-product_name,
.cart-price,.cart-price_name,.cart-quantity_name,
.cart-description,.cart-category_name {
  margin: 0;
  padding: 5px 0;
  margin-bottom: 15px;
  font-size: 25px;
}
.addcart
{
  width:100px;
  margin-bottom: -21px;
}
.add{
margin-left: 130px;
}
.carts {
  display: flex; /* Use flexbox to horizontally align the image and details */
  align-items: center; /* Center items vertically */
  margin-bottom: 20px; 
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
 
 

}

/* Style the image */
.cart-item-images {
  /* Make the image take up one-third of the available space */
             
  height: 150px;
  width:150px;/* Add padding for spacing */
  margin-left: 50px;
}

/* Style the details container */
.cart-item-detailss {
  flex: 2; /* Make the details take up two-thirds of the available space * /* Add padding for spacing */
  display: flex; /* Use flexbox for horizontal layout of details */
  flex-direction: column; /* Stack details vertically within the details container */
  margin-left:300px;
  
}

/* Additional styling for individual details like product name, price, and description */
.cart-product_names,
.cart-prices,.cart-price_names,.cart-quantity_names,
.cart-descriptions,.cart-category_names {
  margin: 0;
  padding: 5px 0;
  margin-bottom: 15px;
  font-size: 15px;
}
.addcarts
{
  width:50px;
  margin-bottom: -21px;
}
.adds{
margin-left: 130px;
}
.placed
{
  margin-left: 1625px;
}
.placed span 
{
  margin-right: 50px;
  font-size: 18px;
}
.placed button{
  font-size: 18px;
  background-color: #d8363a;
  color: white;
}
.svg
{
  margin-left: 1500px;
  margin-top: -25px;
}
.allitem
{
  background-color: red;
  color:white;
  font-size: 25px;
  margin-left: 1900px;
}

/* Style for the modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure the modal is on top */

}

/* Style for the modal */


.title
{
  justify-content: center;
  align-items: center;
}


/* Optional: Close button style */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
